.card {
    position: relative;
    margin: 0 auto;
    display: flex;
    width: 600px;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
    height: 550px;
    color: white;
    border-top-left-radius: 0.5%;
    border-top-right-radius: 0.5%;
  }

  .list {
    position: absolute;
    margin: 0 50px;
    background-color: seashell;
    height: 300px;
    width: 250px;
  }