.card {
    position: relative;
    margin: 0 auto;
    display: flex;
    width: 600px;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
    height: 550px;
    color: white;
    border-top-left-radius: 0.5%;
    border-top-right-radius: 0.5%;
  }

.form {
    position: relative;
    margin: 0 auto;
    display: flex;
    width: 500px;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #767e8f;
    height: 450px;
    color: white;
    border-top-left-radius: 0.5%;
    border-top-right-radius: 0.5%;
}